<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NinerZone</display-name>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>faculty_home</servlet-name>
    <servlet-class>controller.FacultyHomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>admin_home</servlet-name>
    <servlet-class>controller.AdminHomeServlet</servlet-class>
  </servlet>
</web-app>